<div class="header-main d-flex justify-content-between align-items-center ">
  <a [routerLink]="['/user/bob']" class="header-logo">
    <img src="../../assets/images/digital-payment-suraksha-logo.png" alt="">
  </a>
  <ul class="header-navigation-bar list-inline text-uppercase align-items-center m-0">
    <li class="list-inline-item active ml-4">
      <a class="nav-link circle-one circle-two" href="#">About</a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link" href="#">Content</a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link" href="#">Gallery</a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link" href="#">Partners</a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link" href="#">Social</a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
    <li class="list-inline-item">
      <a class="nav-link go-to-dsci-button" role="button" href="#">Go To DSCI</a>
    </li>
    <li class="list-inline-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        En
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
      </div>
    </li>
  </ul>
</div>
