////  Poppins Fonts

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('../fonts/poppins/Poppins-SemiBold.otf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/poppins/Poppins-Bold.otf');
}

////  OpenSans Fonts

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('../fonts/OpenSans/OpenSans-SemiBold.ttf');
}
