$main-header-height: 70px;
$theme-color: #2D4BA0;
.theme-button-default, .theme-button-outline {
  min-width: 120px;
  min-height: 50px;
  margin: 2px 8px;
  box-shadow: none;
}

.theme-button-default {
  background: $theme-color;
  border-radius: 0;
  color: white;
  &.active {
    box-shadow: 0 3px 5px 0 fade_out($theme-color, 0.6);
  }
}

.theme-button-outline {
  background-color: #fff;
  border: 2px solid $theme-color;
  border-radius: 0;
  color: $theme-color;
}

.component-heading {
  color: $theme-color;
  height: 70px;

  .heading {
    font-size: 30px;
    position: relative;
    font-family: 'Poppins-Bold', sans-serif;

    &:before {
      content: "";
      position: absolute;
      height: 2px;
      width: 1000px;
      background: $theme-color;
      top: 20px;
      left: -1020px;
    }

    &:after {
      content: "";
      position: absolute;
      height: 15px;
      width: 15px;
      background: $theme-color;
      top: 14px;
      left: -25px;
      border-radius: 50%;
    }
  }

  .sub-heading {
    font-size: 16px;
    line-height: 6px;
    font-family: 'Poppins-SemiBold', sans-serif;
  }
}
