<div class="about-section">
  <img style="position: absolute;right: 0;" src="../../assets/images/about-section-image.png" alt="">
   <div class="container">
     <div class="row">
       <div class="col-md-7">
         <div class="component-heading">
           <div class="heading">About</div>
           <div class="sub-heading">Digital Payment Abhiyan</div>
         </div>
         <div class="about-content">
           India has embarked on an ambitious transformation journey to realize its vision
           of a Digital India. Digital and Financial Inclusion are key enablers to march towards
           a Digitally empowered Society and a Knowledge Economy. With Government and
           Industry moving towards a 'Less Cash Economy', Digital Payment channels have
           caught momentum and citizens across the country are adopting various modes
           of digital payments. Government, Industry and all stakeholders in the digital
           payments ecosystem need to partner to build awareness among users about
           security and safely transact online.
           <br><br>
           Data Security Council of India in association with Ministry of Electronics and
           Information Technology (MeitY) and Google India have crafted an awareness
           campaign to promote 'Digital Payment Suraksha' to address the need to
         </div>
       </div>
     </div>
  </div>
</div>
