<div class="container pb-5">
  <div class="row">
    <div class="col-md-4 border-right">
      <div class="component-heading">
        <div class="heading">Know The Best Ways</div>
        <div class="sub-heading">Digital Payment Abhiyan</div>
      </div>
    </div>
    <div class="col-md-8 d-flex align-items-center">
      <button class="btn theme-button-default active">English</button>
      <button class="btn theme-button-outline">हिंदी</button>
      <button class="btn theme-button-outline">ગુજરાતી</button>
      <button class="btn theme-button-outline">தமிழ்</button>
      <button class="btn theme-button-outline">తెలుగు</button>
    </div>
  </div>
</div>
